[Unit]
Description=Generate .npmrc file
After=multi-user.target

[Service]
Environment=AWS_DEFAULT_REGION=eu-west-1
ExecStart=-/usr/local/bin/build_npm_config.sh &>> /var/log/build_npm_config.log
Type=oneshot
User=root
Group=root
Restart=no

[Install]
WantedBy=multi-user.target