[Unit]
Description=Generate .npmrc file
After=docker.service

[Service]
TimeoutStartSec=0
Restart=no
Environment=AWS_DEFAULT_REGION=eu-west-1
ExecStart=-/usr/local/bin/build_npm_config.sh &>> /var/log/build_npm_config.log
Type=oneshot
RemainAfterExit=true
User=root
Group=root

[Install]
WantedBy=multi-user.target